<VirtualHost *:80>
  ServerAdmin webmaster@localhost
  DocumentRoot {{ document_root }}/{{ server_name }}/web

  ServerName {{ server_name }}
  ServerAlias www.{{ server_name }}

  <Directory />
    Options FollowSymLinks
    AllowOverride All
  </Directory>
  <Directory {{ document_root }}/{{ server_name }}/web>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    Allow from all
    Require all granted
  </Directory>

  # Possible values: debug, info, notice, warn, error, crit
  LogLevel warn

  ErrorLog {{ document_root }}/error.log
  CustomLog {{ document_root }}/access.log combined
</VirtualHost>
